//variables globales
@use 'constants/variables';
// tipografia
@use 'constants/typography';

// mixins y funciones
@use 'mixins/buttons' as buttonsMixins;
@use 'mixins/tables';
@use 'mixins/functions';

// layout
@use 'layout/header';
@use 'layout/footer';
@use 'layout/banner';
@use 'layout/body';

// componentes
@use 'components/buttons' as buttonsComponents;
@use 'components/player-card';
@use 'components/news-cards';
@use 'components/results-table';

// pages
@use 'pages/teams' ;