//variables globales
@use 'constants/variables';

// fuentes
@use 'constants/fonts';

// cambios globales
@use 'base/base';

// layout
@use 'layout/header';
@use 'layout/footer';

//HOME
@use 'pages/home/noticia4';
@use 'pages/home/banner-medio';

// pages
@use 'pages/team/encuentro' ;