//variables globales
@import 'constants/variables';

// mixins y funciones
@import 'mixins/buttons';
@import 'mixins/tables';
@import 'mixins/functions';

// layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/banner';
@import 'layout/body';

// componentes
@import 'components/buttons';
@import 'components/player-card';
@import 'components/news-cards';
@import 'components/results-table';

//HOME

@import 'pages/home/noticia4';
@import 'pages/home/banner-medio';