@import '../../constants/variables';


.banner-medio {
  position: relative;
  width: 100%;
  height: 63vh;
  background-image: url('/img/banner-medio.jpg'); // imagen equipo
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$color-semitransparente; // negro semitransparente
    z-index: 1; // debajo del texto
  }

  .banner-medio-texto {
    position: relative;
    font-family: $font-hero;
    font-size: 2.2rem;
    color: $color-white;
    padding: 1rem 2rem;
    max-width: 800px;
    z-index: 2;
  }
}