@use '../../constants/variables' as *;
@use '../../mixins/buttons' as *;
@use '../../mixins/functions' as *;

.ultima-noticia {
    padding: $section-padding;
    @include flex-center-column;
    gap: 2rem;
    text-align: center;

    .ultima-noticia-titulo {
        max-width: $container-sized; //ancho máximo de 1200px
        font-family: $font-title; //fuente personalizada
        font-size: 2rem; 
        font-weight: 600; //tamaño mas grande y letra en negrita
        color: var(--color-dark);
        margin-bottom: 2rem;
    }

    .noticia {
        max-width: $container-sized;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--color-light);
        box-shadow: $box-shadow; //se le palica una sombra a la caja
        align-items: stretch; // ambas columnas ocupan lo mismo

        //responsive
        @media (max-width: 768px) {
            grid-template-columns: 1fr; // 1 columna en tablet/móvil
        }

        .noticia-texto {
            @include flex-column;
            gap: $gap;
            text-align: left;
            padding: 1rem;

            p {
                line-height: 1.6;
                color: $color-text;
            }

            a.btn {
                @include primary-button;
            }
        }

        .image-block {
            width: 100%;
            height: 100%; // ocupa toda la altura de la tarjeta
        }

        .image-block img {
            width: 100%;
            height: auto; //responsive
            object-fit: cover; //para que no se vea aplastada ni nada la imagen
        }
    }
}