@use '../../constants/variables' as *;
@use '../../mixins/buttons' as *;
@use '../../mixins/functions' as *;

.ultima-noticia {
    padding: $section-padding;
    @include flex-center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    .ultima-noticia-titulo {
        max-width: $container-sized;
        font-family: $font-title;
        font-size: 2rem;
        font-weight: 600;
        color: $color-dark;
        margin-bottom: 2rem;
    }

    .noticia {
        max-width: $container-sized;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $color-light;
        box-shadow: $box-shadow;
        align-items: stretch;

        .noticia-texto {
            @include flex;
            flex-direction: column;
            gap: $gap;
            text-align: left;
            padding: 1rem;

            p {
                line-height: 1.6;
            }

            a.btn {
                @include primary-button;
            }
        }

        .image-block {
            width: 100%;
            height: 100%; // ocupa toda la altura de la tarjeta
        }

        .image-block img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}