@use '../../constants/variables' as *;
@use '../../mixins/buttons' as *;
@use '../../mixins/functions' as *;

.estadisticas-rapidas {
  max-width: $container-sized; //max de 1200px
  margin: 4rem auto 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); //cuatro columnas iniciales
  gap: $gap;
  text-align: center;

  //responsive
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr); //pasamos a dos columnas
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; //o una
  }

  article {
    background: var(--color-light);
    box-shadow: $box-shadow;
    padding: 2rem 1rem;
    font-family: $font-title;

    h3 {
      font-size: 1rem;
      color: $color-text;
      margin-bottom: .6rem;
    }

    p {
      font-size: 2rem;
      color: $color-primary;
      font-weight: bold;
    }
  }
}