@use '../../constants/variables' as *;
@use '../../mixins/buttons' as *;
@use '../../mixins/functions' as *;
@use '../../mixins/table-cell' as *;

.clasificacion {
    margin: 4rem auto 4rem;
    text-align: center;

    h2 {
        font-family: $font-title;
        font-size: 2.6rem;
        margin-bottom: 2.5rem;
        color: $color-primary;
        text-shadow: $text-shadow;
        letter-spacing: .05em;
    }
}

.tabla-wrapper {
    max-width: $container-sized;
    margin: auto;
    overflow-x: auto;
    box-shadow: $box-shadow;
}

.tabla-liga {
    width: 100%;
    border-collapse: collapse;
    background: var(--color-light);
    overflow: hidden;
    font-family: $font-title;
    font-size: 1.15rem;

    .g {
        color: $color-win; // verde victoria
        font-weight: bold;
    }

    .e {
        color: $color-emp; // amarillo empate
        font-weight: bold;
    }

    .p {
        color: $color-loose; // rojo derrota
        font-weight: bold;
    }

    & > div{
        @include table-cell;
    }

    .hearding {
        background-color: $color-primary;

        span {
            font-size: 1.1rem;
            font-weight: 800;
            color: var(--color-light);
        }

        &:hover{
            background-color: $color-primary;
        }
    }
}
//responsive
@media (max-width: 768px) {
    .tabla-liga {
        font-size: 0.95rem;

        & > div {
            padding: 0.6rem 0.8rem; // menos padding para filas
        }

        .hearding span {
            font-size: 1rem; // título un poco más pequeño
        }
    }
}

@media (max-width: 400px) { //convierte cada fila en un mini bloque vertical
    .tabla-liga {
        display: block; // cada fila se apila
        & > div {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }
    }
}