// --- Colores de Letra y Fondo ---
$color-primary: #D90416;
$color-text-main: #000000;
$color-white: #ffffff;
$color-semitransparente: rgba(0,0,0,0.4);
// espacios
$section-padding: 4rem 2rem;
// --- Fuentes ---
$font-hero: 'Arimo Hebrew Subset Italic', sans-serif;
$font-title: 'Lexend Deca', sans-serif;
$font-body: 'Solway', serif;