$container-sized: 1200px;

$font-title: 'Lexend Deca', sans-serif;
$font-text: 'Solway', serif;
$font-hero: 'Arimo Hebrew Subset Italic', sans-serif;

$color-primary: #D90416;
$color-dark: black;
$color-light: white;
$color-win: #1e7f43;
$color-emp: #c9a200;
$color-loose: #8b0000;
$color-semitransparente: rgba(0, 0, 0, .5);
$color-text: rgba($color: $color-dark, $alpha: .6);

$padding: 20px;
$gap: 20px;
$section-padding: 4rem 2rem;

$box-shadow: 0 0 10px 4px rgba($color-dark, .2);
$text-shadow: 0 0 5px rgba($color: $color-light, $alpha: .25);

$breakpoints: (
    desktop: 1280px,
    laptop: 1024px,
    tablet: 768px,
    mobile: 480px
);