$container-sized: 1200px;

$font-title: 'Lexend Deca', sans-serif;
$font-text: 'Solway', serif;
$font-hero: 'Arimo Hebrew Subset Italic', sans-serif;

$color-primary: #D90416;
$color-dark: black;
$color-light: white;
$color-semitransparente: rgba(0,0,0,0.4);

$padding: 20px;
$gap: 20px;
$section-padding: 4rem 2rem;