@use "../../mixins/functions" as *;

#encuentro {
  @include flex-center;
  height: 600px;
  background-image: url("../../../assets/imgs/prism.png");
  flex-direction: column;
  text-align: center;
  justify-content: center;

  h1 {
    color: white;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-size: 4em;
  }

  #encuentro1 {
    @include flex-center;
    height: 600px;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    #info {
      color: white;
      font-size: 1.8em;
      margin-top: 0;
      padding: 0;
        #signo{
            font-size: 4em;
            margin-bottom: 0.4em;
        }
    }

    .escudo1 {
      margin: 3em;
      margin-top: 0;
      padding: 0;
      .img1 {
        width: 15em;
        margin-top: 0;
        padding: 0;
      }
    }
    .escudo2 {
      margin: 5em;
      margin-top: 0;
      padding: 0;
      .img2 {
        width: 12.5em;
        padding-bottom: 3em;
        margin-top: 0;
        padding: 0;
      }
    }
  }
}
