@use '../../constants/variables' as vars;
@use '../../mixins/functions' as f;

#encuentro {
    @include f.flex-center;
    flex-direction: column;
    gap: 10%;
    height: 600px;
    background-image: url("../../../assets/imgs/prism.png");

    h2 {
        color: var(--color-light);
        font-size: 3rem;
    }

    .content {
        @include f.flex-center;
        height: min-content;
        height: 300px;
        width: vars.$container-sized;

        #info {
            color: white;
            font-size: 1.8em;

            .result {
                @include f.flex-center;
                gap: 10px;
                font-size: 2rem;
                height: 20px;
                margin-bottom: 25px;

                .line {
                    background-color: var(--color-light);
                    width: 50px;
                    height: 5px;
                }

                span {
                    height: fit-content;
                    color: var(--color-light);
                }

            }

            .text-info {

                @include f.flex-center;
                flex-direction: column;

                p {
                    font-size: 1.5rem;
                    color: var(--color-light);
                }

                span {
                    font-size: 1.25rem;
                    color: vars.$color-primary;
                    font-weight: 700;
                    width: 100%;
                    text-align: center
                }

            }

        }

        .escudo1 {
            @include f.flex-center;
            height: 100%;
            width: 30%;

            .img1 {
                height: 100%;
            }
        }

        .escudo2 {
            @include f.flex-center;
            height: 100%;
            width: 30%;

            .img2 {
                height: 100%;
            }
        }
    }
}