@use '../../constants/variables' as vars;
@use '../../mixins/functions' as f;

#encuentro {
    @include f.flex-center-column;
    gap: 10%;
    height: 600px;
    background-image: url("../../../assets/imgs/prism.png");

    h2 {
        color: vars.$color-light;
        font-size: 3rem;
    }

    //responsive
    @media (max-width: 750px) {
        .content {
            flex-direction: column; //escudos arriba y abajo
            width: 100%;
            height: auto;

            .escudo1, .escudo2 {
            width: 50%;
            height: auto;
            margin-bottom: 1rem;
            }
            #info {
                width: 100%;
                font-size: 1.2rem;
            }
        }
    }

    .content {
        @include f.flex-center;
        height: min-content;
        height: 300px;
        width: vars.$container-sized;

        #info {
            color: vars.$color-light;
            font-size: 1.8em;

            ///responsive
            @media (max-width: 550px) {
                .result {
                    flex-direction: column;
                    gap: 5px;
                    font-size: 1.5rem;

                    .line {
                        width: 40px;
                        height: 4px;
                    }
                }
                .text-info p {
                    font-size: 1.1rem;
                }

                .text-info span {
                    font-size: 1rem;
                }
            }

            .result {
                @include f.flex-center;
                gap: 10px;
                font-size: 2rem;
                height: 20px;
                margin-bottom: 25px;

                .line {
                    background-color: vars.$color-light;

                    width: 50px;
                    height: 5px;
                }

                span {
                    height: fit-content;
                    color: vars.$color-light
                }

            }

            .text-info {

                @include f.flex-center-column;

                p {
                    font-size: 1.5rem;
                    color: vars.$color-light
                }

                span {
                    font-size: 1.25rem;
                    color: vars.$color-primary;
                    font-weight: 700;
                    width: 100%;
                    text-align: center
                }

            }

        }

        .escudo1 {
            @include f.flex-center;
            height: 100%;
            width: 30%;

            .img1 {
                height: 100%;
            }
        }

        .escudo2 {
            @include f.flex-center;
            height: 100%;
            width: 30%;

            .img2 {
                height: 100%;
            }
        }
    }
}

//responsive general
@media (max-width: 900px) {
    #encuentro {
        height: auto; //la seccion crece si lo necesita
        gap: 5%; //menos espacio vertical
        padding: 2rem 1rem; //un poco mas de espacio entre elementos
    

        h2 {
            font-size: 2.2rem; //titulo más pequeño
        }
    }
}