//variables globales
@import '../constants/variables';

.btn {
        display: inline-block;
        background-color: $color-primary;
        color: $color-white;
        padding: 0.8rem 1.4rem;
        font-weight: bold;
        text-decoration: none;
        transition: 0.2s ease;

        &:hover {
          opacity: 0.8;
        }
      }