
@use '../constants/variables' as *;
@use '../mixins/text' as *;

@mixin primary-button{
    position: relative;
    padding: 10px;
    background-color: $color-primary;
    width: min-content;
    border: 0;
    @include text-light;
    cursor: pointer;
    font-size: 1.25rem;
}