@mixin flex {
    display: flex;
}

@mixin flex-row {
    @include flex;
    flex-direction: row;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

@mixin flex-justify-center {
    @include flex;
    justify-content: center;
}

@mixin flex-align-center {
    @include flex;
    align-items: center;
}

@mixin flex-center {
    @include flex-justify-center;
    align-items: center;
}

@mixin flex-center-row {
    @include flex-center;
    flex-direction: row
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@function rgba-color($color, $opacidad) {
    @return rgba($color, $opacidad);
}