@mixin flex {
    display: flex;
}

@mixin flex-justify-center {
    @include flex;
    justify-content: center;
}

@mixin flex-align-center {
    @include flex;
    align-items: center;
}


@mixin flex-center {
    @include flex-justify-center;
    align-items: center;
}

@function rgba-color($color, $opacidad) {
    @return rgba($color, $opacidad);
}