@use '../constants/variables' as vars;

@mixin responsive-max($breakpoint) {
    @media (max-width: map-get(vars.$breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin responsive-min($breakpoint) {
    @media (min-width: map-get(vars.$breakpoints, $breakpoint)) {
        @content;
    }
}