
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    position: relative; /* Para la imagen detrás */
    grid-template-rows: auto 1fr auto;

}
.background {
    position: absolute; /* fuera del flujo normal */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantiene proporción */
    z-index: -1; /* envía detrás del contenido */
}