@use '../constants/variables' as *;

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: $color-light;
    color: $color-dark;
}