@use '../constants/variables' as *;
@use '../mixins/text' as *;
@use '../mixins/functions' as *;
@use '../mixins/buttons' as *;
@use '../mixins/links' as *;

footer {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    max-height: 600px;

    .row {
        @include flex;
        width: 100%;

        .container-relative-info {
            background-image: url('../../assets/imgs/prism.png');
            background-position: center center;
            background-repeat: repeat;
            padding: $padding;

            @include flex-center;
            gap: 10%;
            width: 66.6666667%;

            .contact-form {
                @include flex;
                flex-direction: column;
                gap: 15px;

                form {
                    @include flex-justify-center;
                    flex-direction: column;
                    gap: 15px;

                    input[type="email"],
                    textarea {
                        font-size: 1rem;
                        border: 0;
                        padding-left: 5px;
                    }

                    input[type="email"] {
                        height: 50px;
                    }

                    textarea {
                        padding-top: 5px;
                        height: 8rem;
                    }

                    input[type="submit"] {
                        @include primary-button;
                    }
                }

            }

            .conatiner-links {
                @include flex;
                flex-direction: column;
                gap: 15px;
                height: 100%;
            }

            .title,
            p {
                @include text-light;
            }

            a {
                @include link;
            }
        }

        .conatiner-contact-us {

            background-image:
                linear-gradient($color-semitransparente, $color-semitransparente),
                url('../../assets/imgs/img-footer.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 33.333333%;
            height: 100%;
            @include text-light;

            @include flex-center;
            flex-direction: column;
            gap: $gap;

            .container-title {
                @include flex-center;
                flex-direction: column;
                width: fit-content;
                gap: 5px;

                h4 {
                    font-size: 1.75rem;
                    color: var(--color-light);
                }
            }

            .container-info {
                @include flex-center;
                gap: $gap;
                flex-direction: column;
                width: 100%;

                .row {
                    @include flex;
                    gap: $gap;
                    width: 80%;

                    p{
                        @include flex-align-center;
                        color: var(--color-light);
                    }

                }

                a > img:hover{
                    background-color: $color-primary;
                }
            }
        }

    }

    .container-copyright {
        @include flex-center;
        background-color: var(--color-dark);
        width: 100%;
        height: min-content;
        padding: 5px 20px;

        .container-sized {
            @include flex-center;
            width: 100%;
            max-width: $container-sized;

            .copyright {
                @include text-light;
                height: 100%;
                width: 66.666667%;
                max-width: $container-sized;
            }

            .conatiner-icons {
                @include flex-center;
                gap: 10px;
                width: 33.333333%;

                a {
                    @include flex-center;

                    img:hover{
                        transform: scale(1.05);
                        transition: .25s;
                    }
                }
            }
        }
    }

//Responsive

    @media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;

        .container-relative-info,
        .conatiner-contact-us {
            width: 100%;
        }

        .container-relative-info {
            gap: 5%;
            padding: $padding / 2;

            .contact-form {
                width: 100%;

                form {
                    width: 100%;

                    input[type="email"],
                    textarea {
                        width: 100%;
                    }

                    input[type="submit"] {
                        width: 100%;
                    }
                }
            }

            .conatiner-links {
                width: 100%;
                gap: 10px;
            }
        }

        .conatiner-contact-us {
            gap: 15px;

            .container-title h4 {
                font-size: 1.5rem;
            }

            .container-info .row {
                width: 100%;
                flex-direction: column;
                gap: 10px;

                p {
                    text-align: center;
                }
            }
        }
    }

    .container-copyright {
        flex-direction: column;
        padding: 10px;

        .container-sized {
            flex-direction: column;

            .copyright,
            .conatiner-icons {
                width: 100%;
                justify-content: center;
                margin-bottom: 10px;
            }

            .conatiner-icons a {
                margin: 0 5px;
            }
        }
    }
    }
}
