@use '../constants/variables' as vars;
@use '../mixins/responsive' as r;
@use '../mixins/functions' as f;


header {
    position: relative;
    background-image: url("../../assets/imgs/home-estadio-fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    .overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        background: vars.$color-semitransparente;
        z-index: 1;

        clip-path: polygon(0% 0, 60% 0, 40% 100%, 0 100%);

        @include r.responsive-max(laptop){
            clip-path: none;
        }
    }

    #top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        flex-wrap: wrap;
        gap: 10px;

        >nav,
        >h2 {
            flex: 0 1 auto;
            min-width: 0;
            font-weight: 200;
        }

        .below {
            flex: 0 0 100%;
            margin-top: 8px;
            text-align: center;
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                gap: 2em;
                margin: 0 0 0 1.5em;
                padding: 0;

                @include r.responsive-max(laptop){
                    gap: 10px;
                }
            }

            a {
                position: relative;
                text-decoration: none;
                color: vars.$color-light;
                font-size: 1.5em;
                z-index: 3;
            }

            @include r.responsive-max(laptop){
                @include f.flex-center;
                width: 100%;
            }
        }

        h2 {
            position: relative;
            color: vars.$color-light;
            font-size: 3em;
            z-index: 3;

            @include r.responsive-max(laptop){
                display: none;
            }

        }
    }

    .container-banner-title {

        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        z-index: 100;

        h3 {
            position: relative;
            font-size: 5em;
            color: vars.$color-light;
            margin-left: 10%;
            margin-bottom: 0.25em;
            width: 100%;

            @include r.responsive-max(desktop){
                font-size: 4.5rem;
            }

            @include r.responsive-max(laptop){
                margin: 0;
                font-size: 3rem;
                text-align: center;
                
            }
            @include r.responsive-max(tablet){
                br{
                    display: none;
                }
            }
        }

        h4 {
            position: relative;
            font-size: 2.5em;
            color: vars.$color-light;
            margin-top: 0;
            margin-left: 10%;
            font-weight: 300;

            @include r.responsive-max(laptop){
                margin: 0;
                text-align: center;
                font-size: 2rem;
            }
        }

        span.shadow {
            text-shadow: vars.$text-shadow;
            font-family: vars.$font-title;
            span.text-red {
                color: vars.$color-primary;
            }

        }

        @include r.responsive-max(laptop){
            position: relative;
            padding: vars.$padding;
        }

    }

    @include r.responsive-max(laptop){
        background-position: 75%;
    }

}


