@use "../constants/variables" as vars;
@use '../mixins/functions' as f;
@use '../constants/variables' as *;

// Esto se utiliza para cambiar el tema de la aplicación
body:has(#theme-toggle:checked) {
    --color-light: #{vars.$color-dark};
    --color-dark: #{vars.$color-light};
    --color-light-rgb: #{vars.$color-dark-rgb};
    --color-dark-rgb: #{vars.$color-light-rgb};
}

header {
    position: relative;
    background-image: url("../../assets/imgs/home-estadio-fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    .overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        background: vars.$color-semitransparente;
        z-index: 1;

        clip-path: polygon(0% 0, 60% 0, 40% 100%, 0 100%);
    }

    #top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        flex-wrap: wrap;
        gap: 10px;

        > nav,
        > div > h2 {
            flex: 0 1 auto;
            min-width: 0;
            font-weight: 200;
        }

        > div{
            @include f.flex;
            flex-direction: row;
            gap: 10px;
        }

        .below {
            flex: 0 0 100%;
            margin-top: 8px;
            text-align: center;
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                gap: 2em;
                margin: 0 0 0 1.5em;
                padding: 0;
            }

            a {
                position: relative;
                text-decoration: none;
                color: var(--color-light);
                font-size: 1.5em;
                z-index: 3;
            }
        }

        h2 {
            position: relative;
            color: $color-light;
            font-size: 3em;
            z-index: 3;
        }
    }

    .container-banner-title {

        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        z-index: 100;

        h3 {
            position: relative;
            font-size: 5em;
            color: var(--color-light);
            margin-left: 10%;
            margin-bottom: 0.25em;
            width: 100%;
        }

        h4 {
            position: relative;
            font-size: 2.5em;
            color: var(--color-light);
            margin-top: 0;
            margin-left: 10%;
            font-weight: 300;
        }

        span.shadow {
            color: var(--color-light);
            text-shadow: vars.$text-shadow;
            font-family: vars.$font-title;
            span.text-red {
                color: vars.$color-primary;
            }

        }

    }

}


/* ============================
      📱 RESPONSIVE
============================ */
@media (max-width: 768px) {
    header {
        height: 100vh;
        background-position: center;

        .overlay {
            clip-path: none;
        }
    }

    #top {
        text-align: center;

        nav ul {
            gap: 1.5rem;
            margin-left: 0;
        }

        h2 {
            font-size: 1.6em;
        }

        nav a {
            font-size: 1em;
        }
    }

    h3 {
        margin-top: 3em;
        font-size: 2em;
        margin-left: 0;
        text-align: center;
    }

    h4 {
        font-size: 1.3em;
        margin-left: 0;
        text-align: center;
    }
}