@use '../constants/variables' as *;

* {
    box-sizing: border-box;
    font-family: $font-text;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: $color-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    margin: 0px;
}

hr {
    width: 100%;
    margin: 0;
    border-color: $color-primary;
    border-width: 2px;
    border-style: solid;
}